@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Sofia Pro";
}

body {
    @apply bg-steplix-lilac;
}

@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Sofia Pro"),
        url("../../public/fonts/SofiaProRegularAz.woff") format("woff");
}

/*--------- banner------- */
.banner {
    background-image: url("../../public/assets/images/montaña.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.title-empty {
    -webkit-text-stroke: 1.3px rgb(255, 255, 255);
    color: transparent;
}

.button-banner {
    display: table;
    color: white;
    margin-top: 90vh;
    margin-left: 50%;
}
.scroll-banner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
