@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Sofia Pro";
}

body {
    @apply bg-steplix-lilac;
}

@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Sofia Pro"),
        url("../../public/fonts/SofiaProRegularAz.woff") format("woff");
}
.container-steplix {
    @apply flex items-center justify-center my-36;
}
/*--------- banner------- */
.banner {
    background-image: url("../../public/assets/images/montaña.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* ------title-empty---- */
.title-empty {
    -webkit-text-stroke: 1.3px rgb(255, 255, 255);
    color: transparent;
}
/* CAROUSEL START */
.number-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-wrapper {
    position: relative;
}

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c4c4c4;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot.active {
    @apply bg-steplix-blue;
}

/* CAROUSEL END */
